:root {
    --main-background: #F9FBFB;
    --item-background: #E2E8EE;
    --text-color: #12232D;
    --inactive-button: #D9D9D9;
    --title-white: #FFFFFF;
    --title-black: #000000;
    --other-pink: rgba(229, 81, 111, 0.4);
    --groceries-lime: #48E5C2;
    --recipes-purple: #4A2F8E;
}